# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

build/*
build-*
src/build/*
.cache/*
.cmake/*
compile_commands.json
.vscode/*
moc*
*.log
ui_*
qrc_*
*.log
CMakeLists.txt.user
bin/*
*.user
*.user.*
*/CMakeLists.txt.user
*/CMakeCache.txt
*/CMakeFiles/*
*/cmake_install.cmake
.VSCodeCounter/*
CMakePresets.json
.clang*
